<div class="wizard-step-container">
  <app-wizard-step-title>{{'enter-incident-details.step.title' | translate}}</app-wizard-step-title>

  {{'enter-incident-details.step.description' | translate}}
  <div class="form-container enter-details-form">

    <form (ngSubmit)="onSubmit()" [formGroup]="newIncidentForm">

      <app-autocomplete-select formControlName="incidentCategory"
        [label]="'enter-incident-details.incident-category.label'" [dropDownItems]="dropDownIncidentCategories"
        (change)="onCategoryChanged($event.target.value)" (optionSelected)=onCategoryChanged($event.translatedName)
        [errorConfig]="{ required: 'enter-incident-details.incident-category.error-required' | translate }">
      </app-autocomplete-select>

      <app-autocomplete-select formControlName="incidentSubcategory"
        [label]="'enter-incident-details.incident-subcategory.label'" [dropDownItems]="dropDownIncidentCategories"
        (change)="onSubcategoryChanged($event.target.value)"
        (optionSelected)="onSubcategoryChanged($event.translatedName)"
        [errorConfig]=" { required: 'enter-incident-details.incident-subcategory.error-required' | translate }">
      </app-autocomplete-select>

      <!-- {{newIncidentForm.value | json}} -->

      <app-text-area formControlName="incidentDesc" [label]="'enter-incident-details.incident-description.label'"
        [placeholder]="'enter-incident-details.incident-description.placeholder'"
        (change)="onDescriptionChanged($event.target.value)" [errorConfig]="{
        required: 'enter-incident-details.incident-description.error-required' | translate,
        minlength: 'enter-incident-details.incident-description.error-minLength' | translate
      }"></app-text-area>

      <!-- incidentCategory: {{formControls['incidentCategory'].value | json}}<br>
      incidentSubcategory: {{formControls['incidentSubcategory'].value | json}}<br>
      incidentDesc: {{formControls['incidentDesc'].value | json}}<br>

      Valid: {{newIncidentForm.valid}} <br>
      Values: {{newIncidentForm.value | json}} <br>
      Errors: {{newIncidentForm.errors | json}} <br> -->
    </form>
  </div>
</div>
