@import "mixins/media";
@import "mixins/flex";

.new-incident-wizard-stepper-container {
  padding: 0.8rem 0;
  @include media-breakpoint-up(sm) {
    padding: 3.2rem 0;
  }
}

.new-incident-wizard-stepper-card-header {
  display: none;
  @include media-breakpoint-up(sm) {
    display: block;
  }
  padding: 2.4rem 1.6rem;
}

.wizard-btn-container {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  padding-bottom: 1.6rem;
  padding-top: 1,6rem;
}

.stepper-btn-nxt {
  width: 50%;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  border-radius: 0.8rem;
  padding: 1.6rem !important;
}

::ng-deep .mat-step-icon {
  @include media-breakpoint-up(sm) {
    font-size: 2rem !important;
    width: 3.6rem !important;
    height: 3.6rem !important;
  }
}

::ng-deep
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header
  .mat-step-label {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

::ng-deep .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  top: 3.2rem !important;
  @include media-breakpoint-up(md) {
    top: 3.6rem !important;
  }
}

::ng-deep
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header::after {
  top: 3.2rem !important;
  @include media-breakpoint-up(md) {
    top: 3.6rem !important;
  }
}
::ng-deep
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header::before {
  top: 3.2rem !important;
  @include media-breakpoint-up(md) {
    top: 3.6rem !important;
  }
}

::ng-deep .mat-step-text-label {
  font-size: 1.6rem;
}

::ng-deep .mat-horizontal-stepper-header-container {
  min-width: 250px;
  padding-top: 0.8rem;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

::ng-deep .wizard-step-container {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  @include media-breakpoint-up(sm) {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    padding-bottom: 1.6rem;
  }
}
