html, body {
  font-family: $font-family;
  font-size: $body-font-size;
  height: 100%;
}

h1,
.h1 {
  font-size: 30px;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 24px;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 20px;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 18px;
  font-weight: 700;
}

.margin-top-xxl {
    margin-top: 52px;
  }

  .margin-bottom-xxl {
    margin-bottom: 52px;
  }

  .margin-top-xl {
    margin-top: 32px;
  }

  .margin-bottom-xl {
    margin-bottom: 32px;
  }

  .margin-top-lg {
    margin-top: 22px;
  }

  .margin-bottom-lg {
    margin-bottom: 22px;
  }

  .margin-top-md {
    margin-top: 12px;
  }

  .margin-bottom-md {
    margin-bottom: 12px;
  }

  .margin-top-sm {
    margin-top: 6px;
  }

  .margin-bottom-sm {
    margin-bottom: 6px;
  }

  .margin-top-xs {
    margin-top: 6px;
  }

  .margin-bottom-xs {
    margin-bottom: 6px;
  }

  .margin-top-xxs {
    margin-top: 3px;
  }

  .margin-bottom-xxs {
    margin-bottom: 3px;
  }
