h1,
.h1 {
  font-size: 2.5‬rem;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 1.875rem;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

h5,
.h5 {
  font-size: 1.125rem;
  font-weight: 500;
}

.margin-top-xxl {
  margin-top: 72px;
}

.margin-bottom-xxl {
  margin-bottom: 72px;
}

.margin-top-xl {
  margin-top: 52px;
}

.margin-bottom-xl {
  margin-bottom: 52px;
}

.margin-top-lg {
  margin-top: 32px;
}

.margin-bottom-lg {
  margin-bottom: 32px;
}

.margin-top-md {
  margin-top: 22px;
}

.margin-bottom-md {
  margin-bottom: 22px;
}

.margin-top-sm {
  margin-top: 12px;
}

.margin-bottom-sm {
  margin-bottom: 12px;
}

.margin-top-xs {
  margin-top: 6px;
}

.margin-bottom-xs {
  margin-bottom: 6px;
}

.margin-top-xxs {
  margin-top: 6px;
}

.margin-bottom-xxs {
  margin-bottom: 6px;
}
