#content {
  margin-top: 1rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .btn {
    border-radius: 0.75rem;
    background-color: #673AB7;
    border: 1px solid #673AB7;
  }
}
