@import "variables";
@import "mixins";

.create-new-incident-btn-container {
  top: 4rem;
  right: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.my-incidents-container {
  display: grid;
  grid-template-areas: "incidents-list-area incidents-map-area";
  grid-template-columns: 1.5fr 1fr;
  grid-column-gap: 1rem;
}

.inciditents-list-area {
  grid-area: incidents-list-area;
  .incident-list {
    margin-top: 1rem;
  }
}

.incidents-map-area {
  .incidents-map {
    margin-top: 1rem;
    grid-area: incidents-map-area;
    position: fixed;
    top: 12.6rem;
    width:25%;
    height: 350px;
  }
}
