  <div class="my-incidents-container">


    <!-- <app-page-title class="page-title">My Incidents</app-page-title> -->


    <div class="inciditents-list-area" id="inciditents-list-area">
      <!-- <app-page-title class="page-title">My Incidents</app-page-title> -->
      <div class="incident-list">
        <div *ngFor="let incident of incidents">
          <app-incident-item class="app-incident-item" [incident]="incident"></app-incident-item>
        </div>
      </div>
    </div>

    <div class="incidents-map-area">

      <div class="incidents-map-container">
        <div class="incidents-map">
          <div class="create-new-incident-btn-container">
            <button class="create-new-incident-btn" mat-raised-button color="accent" (click)="createIncident()">
              Create new incident
            </button>
          </div>
          <app-incidents-map [incidentMarkers]='incidentMarkers'></app-incidents-map>
        </div>
      </div>
    </div>

  </div>
