@import "variables";

.create-new-incident-btn-container {
  position: absolute;
  top: 4rem;
  right: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.incident-items-container {
  display: flex;
  justify-content: center;

  @media screen and (min-width: $breakpoint-tablet){
    justify-content: space-between;
  }
}
