@import "mixins/media";
@import "mixins/flex";

.new-incident-container {
  @include flexbox();
  @include justify-content(center);
  min-width: 305px;
  @include media-breakpoint-up(sm) {
    min-width: unset;
  }
}

.new-incident-item {
  padding-left: 0;
  padding-right: 0;
  min-width: 305px;
  @include media-breakpoint-up(sm) {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    min-width: 540px;
  }
  @include media-breakpoint-up(md) {
    min-width: 720px;
  }
  @include media-breakpoint-up(lg) {
    min-width: 960px;
  }
}
