<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="display: flex; justify-content: center;">
        <div style="width: 600px;">
          <div class="section">
            <h4>Account Settings</h4>
            <mat-divider></mat-divider>
            <a href="">
              <p>Set Password</p>
            </a>
            <a href="">
              <p>Change Language</p>
            </a>
          </div>
          <div class="section">
            <h4>Notifications</h4>
            <mat-divider></mat-divider>
            <a href="">
              <p>Change Notification Email Frequency</p>
            </a>
            <a href="">
              <p>Allow Desktop Notifications</p>
            </a>
          </div>
          <div class="section">
            <h4>Suggestions</h4>
            <mat-divider></mat-divider>
            <a href="">
              <p>Suggestions</p>
            </a>
          </div>
          <div class="section">
            <h4>Marketing Emails</h4>
            <mat-divider></mat-divider>
            <a href="">
              <p>Opt out of Marketing Emails</p>
            </a>
          </div>
          <div class="section">
            <h4>Theme</h4>
            <mat-divider></mat-divider>
            <a href="">
              <p>Enable dark mode theme</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
