<div class="wizard-step-container">
  <app-wizard-step-title>Add Photos</app-wizard-step-title>

  <div class="form-container">

    <div class="enter-incident-photo-description">
      Please add some photos. It help us to better identify your request.
    </div>

    <div class="file-drop-container">
      <app-image-input [selectedFiles]="newIncidentForm.value.files" supportedFileTypesCategory='Photos'
        (selectionChanged)='onSelectionChanged($event)'>
      </app-image-input>
    </div>
  </div>
