@import "variables";

.header {
  display: flex;
  align-items: center;
  height: $app-header-height-sm;
  @media screen and (min-width: $breakpoint-tablet) {
    height: $app-header-height;
  }
}
.flex-spacer {
  flex-grow: 1;
}

mat-icon.theme-icon {
  font-size: $app-header-icon-size;
}

.mat-toolbar-row {
  padding: 0 1rem 0 0;
}

.hamburger {
  margin-right: 0.5rem;
  padding: 0;
  display: flex;
  display: -webkit-box;
  align-self: center;
  justify-content: center;
  min-width: $app-header-height;
  min-height: $app-header-height;
  @media screen and (min-width: $breakpoint-tablet) {
    min-width: $app-header-height;
    min-height: $app-header-height;
  }
}
