::ng-deep .image-drop-area {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 6px;
  height: 10rem;
  min-width: 250px;
}

.image-drop-area-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: #9f9f9f;

  .add-image-icon {
    font-size: 4rem;
    height: unset;
    width: unset;
    margin-bottom: 1rem;
    color: #9f9f9f;
  }
}
