@import "mixins/flex";

::ng-deep .image-drop-area {
  @include flexbox();
  @include justify-content(center);
  @include align-content(center);
  border-radius: 6px;
  height: 16rem;
  min-width: 250px;
}

.image-drop-area-content {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  height: 100%;
  width: 100%;
  color: #9f9f9f;

  .add-image-icon {
    font-size: 4.8rem;
    height: unset;
    width: unset;
    margin-bottom: 1.6rem;
    color: #9f9f9f;
  }
}
