@import "mixins/flex";

.image-container {
  @include flexbox();
  @include align-items(baseline);
  img {
    width: auto;
    max-width: 65vw;
    max-height: 60vh;
  }
}

.image-name {
  margin-top: 1.6rem;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

::ng-deep .modal-header.image-viewer-modal {
  padding: unset;
  padding-top: 1.6rem;
  padding-right: 1.6rem;
  border-bottom: unset;
}
