@import "variables/header";
@import "mixins/media";
@import "mixins/flex";

.header {
  @include flexbox();
  @include align-items(center);
  height: $app-header-height-sm;
  @include media-breakpoint-up(sm) {
    height: $app-header-height;
  }
}
.flex-spacer {
  @include flex-grow(1);
}

mat-icon.theme-icon {
  font-size: $app-header-icon-size;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

.mat-toolbar-row {
  padding: 0 1.6rem 0 0;
}

.hamburger {
  margin-right: 0.5rem;
  padding: 0;
  // display: flex;
  // display: -webkit-flex;
  // display: -moz-box;
  // align-self: center;
  // justify-content: center;
  min-width: $app-header-height;
  min-height: $app-header-height;
  @include media-breakpoint-up(sm) {
    min-width: $app-header-height;
    min-height: $app-header-height;
  }
}
