@import "mixins";

.options {
  // background-color: #f4f5f7; // TODO theme
  .user {
    padding: 3rem 0;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    font-size: 1.5rem;
    font-weight: 500;

    .default-user-avatar {
      @include inline-flex();
      @include justify-content(center);
      @include align-items(center);
      font-size: 1.5rem;
      font-weight: 700;
      // background-color: #dfe1e6;  // TODO theme
      border-radius: 100%;
      height: 3rem;
      width: 3rem;
      margin-right: 1rem;
    }
  }

  nav {
    width: 100%;
  }

  a {
    // color: rgba(0, 0, 0, 0.87);
    // border-top: 1px solid black;// TODO theme
    // border-left: 1px solid black;// TODO theme
    // border-right: 1px solid black;// TODO theme
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 3px 3px 0 0;
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: -1px;
  }
}

::ng-deep a.mat-tab-link.mat-focus-indicator.mat-tab-label-active {
  // background-color: #f4f5f7; // TODO theme
  border-bottom: none;
  opacity: 1;
}

::ng-deep mat-ink-bar {
  display: none;
}

::ng-deep .mat-tab-nav-bar {
  border-bottom: none !important;
}

::ng-deep .mat-tab-links {
  @include justify-content(center);
  // border-bottom: 1px solid black // TODO theme
}
