.margin-top-2xl {
  @include margin-top-2xl;
}
.margin-top-xl {
  @include margin-top-xl;
}
.margin-top-lg {
  @include margin-top-lg;
}
.margin-top-md {
  @include margin-top-md;
}
.margin-top-sm {
  @include margin-top-sm;
}
.margin-top-xs {
  @include margin-top-xs;
}
.margin-top-2xs {
  @include margin-top-2xs;
}
.margin-top-3xs {
  @include margin-top-3xs;
}
.margin-top-4xs {
  @include margin-top-4xs;
}

.margin-bottom-2xl {
  @include margin-bottom-2xl;
}
.margin-bottom-xl {
  @include margin-bottom-xl;
}
.margin-bottom-lg {
  @include margin-bottom-lg;
}
.margin-bottom-md {
  @include margin-bottom-md;
}
.margin-bottom-sm {
  @include margin-bottom-sm;
}
.margin-bottom-xs {
  @include margin-bottom-xs;
}
.margin-bottom-2xs {
  @include margin-bottom-2xs;
}
.margin-bottom-3xs {
  @include margin-bottom-3xs;
}
.margin-bottom-4xs {
  @include margin-bottom-4xs;
}

.margin-left-2xl {
  @include margin-left-2xl;
}
.margin-left-xl {
  @include margin-left-xl;
}
.margin-left-lg {
  @include margin-left-lg;
}
.margin-left-md {
  @include margin-left-md;
}
.margin-left-sm {
  @include margin-left-sm;
}
.margin-left-xs {
  @include margin-left-xs;
}
.margin-left-2xs {
  @include margin-left-2xs;
}
.margin-left-3xs {
  @include margin-left-3xs;
}
.margin-left-4xs {
  @include margin-left-4xs;
}

.margin-right-2xl {
  @include margin-right-2xl;
}
.margin-right-xl {
  @include margin-right-xl;
}
.margin-right-lg {
  @include margin-right-lg;
}
.margin-right-md {
  @include margin-right-md;
}
.margin-right-sm {
  @include margin-right-sm;
}
.margin-right-xs {
  @include margin-right-xs;
}
.margin-right-2xs {
  @include margin-right-2xs;
}
.margin-right-3xs {
  @include margin-right-3xs;
}
.margin-right-4xs {
  @include margin-right-4xs;
}

.margin-2xl {
  @include margin-2xl;
}
.margin-xl {
  @include margin-xl;
}
.margin-lg {
  @include margin-lg;
}
.margin-md {
  @include margin-md;
}
.margin-sm {
  @include margin-sm;
}
.margin-xs {
  @include margin-xs;
}
.margin-2xs {
  @include margin-2xs;
}
.margin-3xs {
  @include margin-3xs;
}
.margin-4xs {
  @include margin-4xs;
}

.margin-top-0 {
  margin-top: 0px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-left-0 {
  margin-left: 0px;
}
.margin-right-0 {
  margin-right: 0px;
}
.margin-0 {
  margin: 0px;
}
