@import "mixins/flex";
@import "mixins/media";

.image-input-container {
  @include flexbox();
  @include align-items(center);
  @include flex-direction(column);
  margin-top: 4.8rem;
  margin-bottom: 1.6rem;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.image-capture-container {
  width: 100%;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.image-drop-container {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
