<div class="image-input-container">

  <div class="image-drop-container">
    <div class="row">
      <div class="col-12">
        <app-image-drop [supportedFileTypesCategory]='supportedFileTypesCategory'
          (selectionChanged)="onSelectionChanged($event)"></app-image-drop>
      </div>
    </div>
  </div>

  <div class="image-capture-container">
    <div class="row">
      <div class="col-12">
        <app-take-picture (pictureTaken)="onPictureTaken($event);" class="take-picture"></app-take-picture>
      </div>
    </div>
  </div>


  <app-file-list [selectedFiles]="selectedFiles" (fileRemoved)="removeFile($event)"
    (fileSelected)="selectedFileOnClick($event)"></app-file-list>

  <app-image-viewer #imageViewer></app-image-viewer>

</div>
