<mat-horizontal-stepper labelPosition="bottom" [selectedIndex]="selectedIndex" [@.disabled]="true" #stepper  (selectionChange)="selectionChanged($event)" linear>

  <!-- <ng-template matStepperIcon="edit">
      <mat-icon>insert_drive_file</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <mat-icon>done_all</mat-icon>
    </ng-template> -->

  <mat-step  *ngFor="let step of steps; let i=index;" [label]="step.stepName" [stepControl]="currentWizardStep?.getFormGroup()">
    <div class="step-container">

      <router-outlet (activate)="onRouterOutletActivate($event)" *ngIf="stepper.selectedIndex==i"></router-outlet>

    </div>
    <div class="wizard-btn-container">
      <button mat-raised-button matStepperNext color='accent' class="stepper-btn-nxt" [disabled]="!currentWizardStep?.getFormGroup()?.valid" (click)="submit()">{{step.buttonName}}</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
