@import "mixins";
@import "variables";

.wizard-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.stepper-btn-nxt {
  width: 50%;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  border-radius: 0.5rem;
  padding: 1rem !important;
}

::ng-deep .mat-step-icon {
  @include media-breakpoint-up(sm) {
    font-size: 1.25rem !important;
    width: 2.25rem !important;
    height: 2.25rem !important;
  }
}

::ng-deep
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header
  .mat-step-label {
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

::ng-deep .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  top: 2.5rem !important;
}

::ng-deep
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header::after {
  top: 2.5rem !important;
}
::ng-deep
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header::before {
  top: 2.5rem !important;
}

::ng-deep .mat-horizontal-stepper-header-container {
  min-width: 250px;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

::ng-deep .wizard-step-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  @include media-breakpoint-up(sm) {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
}
