<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="center">
        <div class="personal-info">
          <div class="title-section">
            <h4>Manage your personal information</h4>
            <p>
              Control which information people see. To learn more, view our Terms of Service or
              Privacy Policy.
            </p>
          </div>
          <div class="about">
            <h4>About</h4>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-7">
                <form>
                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Full Name</mat-label>
                      <input type="text" matInput>
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Initials</mat-label>
                      <input type="text" matInput>
                    </mat-form-field>
                  </div>

                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Username</mat-label>
                      <input type="text" matInput>
                    </mat-form-field>
                  </div>

                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Bio</mat-label>
                      <textarea matInput placeholder="Enter here" autocomplete="off"></textarea>
                    </mat-form-field>
                  </div>

                  <button mat-raised-button color='accent'>Save</button>

                </form>
              </div>
              <div class="col-5">
                <div class="avatar" style="display: flex; justify-content: center;">
                  <div class="">
                    <div style="text-align: center;">
                      <p>Avatar</p>
                    </div>

                    <div class="">
                      <div class="" title="Constantinos Constantinides (constantinosconstantinides1)">
                        <span class=""
                          style="font-size: 4.8rem; font-weight: 500; height: 100px; width: 100px; line-height: 100px; background-color: #dfe1e6; border-radius: 100%; padding:1.6rem;">CC</span>
                      </div>
                      <!-- <button class="">Change Avatar…</button> -->
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="Contact">
            <h4>Contact</h4>
            <mat-divider></mat-divider>

            <div class="row">
              <div class="col-7">
                <form>

                  <div class="form-group">
                    <mat-form-field appearance="outline">
                      <mat-label>Ecail Address</mat-label>
                      <input type="text" matInput>
                    </mat-form-field>
                  </div>

                  <button mat-raised-button color='accent'>Save</button>

                </form>
              </div>
            </div>


          </div>


        </div>

      </div>

    </div>
  </div>
