<mat-menu #appMenu="matMenu" yPosition="below">

  <div class="mat-menu-item username">User</div>
  <mat-divider></mat-divider>
  <button mat-menu-item class="mat-menu-item">Profile and Visibility</button>
  <button mat-menu-item class="mat-menu-item">Activity</button>
  <button mat-menu-item class="mat-menu-item">Settings</button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="mat-menu-item">Report an Issue</button>
  <button mat-menu-item class="mat-menu-item">Change Language...</button>
  <button mat-menu-item class="mat-menu-item">Help</button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="mat-menu-item">Log Out</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>person</mat-icon>
</button>
