<mat-menu #appMenu="matMenu" yPosition="below">

  <button mat-menu-item class="mat-menu-item">Your profile page</button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="mat-menu-item">My Content</button>
  <button mat-menu-item class="mat-menu-item">Points of Interest</button>
  <button mat-menu-item class="mat-menu-item">Report an Issue</button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="mat-menu-item">Preferences</button>
  <button mat-menu-item class="mat-menu-item">Logout</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>person</mat-icon>
  <!-- <mat-icon>arrow_drop_down</mat-icon> -->
</button>
