<mat-menu #appMenu="matMenu" yPosition="below">

  <div class="mat-menu-item username">{{username}}</div>
  <mat-divider></mat-divider>
  <div *ngFor='let option of optionsGroup1'>
    <button mat-menu-item class="mat-menu-item" (click)='optionClicked(option)'>{{option.label}}</button>
  </div>
  <mat-divider></mat-divider>
  <div *ngFor='let option of optionsGroup2'>
    <button mat-menu-item class="mat-menu-item" (click)='optionClicked(option)'>{{option.label}}</button>
  </div>
  <mat-divider></mat-divider>
  <div *ngFor='let option of optionsGroup3'>
    <button mat-menu-item class="mat-menu-item" (click)='optionClicked(option)'>{{option.label}}</button>
  </div>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>person</mat-icon>
</button>
