@import "mixins/media";


.card {
  margin-top: 1.6rem;
  @include media-breakpoint-up(lg) {
    margin-right: 1.6rem;
  }
  .card-header {
    padding: 0.8rem 0.8rem;

    @include media-breakpoint-up(md) {
      padding: 1.2rem 1.25rem;
    }
  }
  .card-section {
    padding: 0.5rem 0.5rem;
    @include media-breakpoint-up(md) {
      padding: 1.2rem 2rem;
    }
    border-bottom: 1px solid #e5e6e6;
    @include media-breakpoint-up(md) {
      border-bottom: none;
    }
  }

  .card-section-header {
    padding-bottom: 1.2rem;
    @include media-breakpoint-up(md) {
      padding-bottom: 1.6rem;
    }
  }
}
