@mixin card-component-theme($selected-theme) {
  .card {
    @include mat-elevation(4);
    background-color: mat-theme-background-color($selected-theme, background);
    .card-header {
      background-color: mat-color(
        mat-theme-primary-color($selected-theme),
        700
      );
      @if mat-theme-is-dark($selected-theme) {
        color: white;
      } @else {
        color: mat-theme-background-color($selected-theme, background);
      }
    }
    .card-section-header {
      color: mat-color(mat-theme-primary-color($selected-theme), default);
    }
  }
}
