<div class="wizard-step-container">
  <app-wizard-step-title>Add Problem Details</app-wizard-step-title>

  <div class="form-container">

    <form (ngSubmit)="onSubmit()" [formGroup]="newIncidentForm">

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Incident Title</mat-label>
          <input matInput placeholder="Enter here" formControlName="incidentTitle" autocomplete="off">
          <mat-error>
            <app-control-messages [control]="formControls['incidentTitle']"></app-control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Incident Type</mat-label>
          <input type="text" matInput formControlName="translatedIncidentType" [matAutocomplete]="auto"
            (blur)="onIncidentTypeChanged($event.target.value)">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let incidentType of filteredDropDownIncidentTypes | async"
              [value]="incidentType.translatedName">
              {{incidentType.name | translate}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
            <app-control-messages [control]="formControls['incidentType']"></app-control-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">

        <mat-form-field appearance="outline">
          <mat-label>Incident Description</mat-label>
          <textarea matInput placeholder="Enter here" formControlName="incidentDesc" autocomplete="off"></textarea>
          <mat-error>
            <app-control-messages [control]="formControls['incidentDesc']"></app-control-messages>
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
