<div class="container wizard-container">
  <div class="form-container">
    <form (ngSubmit)="onSubmit()" [formGroup]="newIncidentForm">

      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Incident Title</mat-label>
          <input matInput placeholder="Enter here" formControlName="incidentTitle" autocomplete="off">
          <mat-error>
            <app-control-messages [control]="f['incidentTitle']"></app-control-messages>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Incident Type</mat-label>
          <mat-select name="incidentType" formControlName="incidentType">
            <mat-option *ngFor="let incidentType of dropDownIncidentTypes" [value]="incidentType.value">
              {{incidentType.name}}
            </mat-option>
          </mat-select>
          <mat-error>
            <app-control-messages [control]="f['incidentType']"></app-control-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">

        <mat-form-field appearance="outline">
          <mat-label>Incident Description</mat-label>
          <textarea matInput placeholder="Enter here" formControlName="incidentDesc" autocomplete="off"></textarea>
          <mat-error>
            <app-control-messages [control]="f['incidentDesc']"></app-control-messages>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="button-container">
        <button mat-raised-button class="next-btn" color="accent" type="submit" [disabled]="newIncidentForm.invalid">
          Next
        </button>
      </div>
    </form>
  </div>
</div>


<!-- <app-google-map></app-google-map> -->
