@import "variables";

.footer {
  height: $app-footer-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-content-item {
      margin-top: 0.25rem;
    }
  }
}
