@mixin footer-component-theme($selected-theme) {
  .footer {
    font-weight: 500;
    @if mat-theme-is-dark($selected-theme) {
      color: white;
    } @else {
      color: mat-theme-background-color($selected-theme, background);
    }
    background-color: mat-color(
      mat-theme-primary-color($selected-theme),
      default
    );
  }
}
