@import "mixins/flex";

.ngb-carousel {
  display: block;
}

img {
  width: auto;
}

::ng-deep .carousel-inner {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

::ng-deep .carousel-item {
  width: unset;
  margin-right: unset;
  padding-bottom: 2.4rem;
}

::ng-deep.carousel-control-prev,
::ng-deep.carousel-control-next {
  width: unset;
}
