@import "variables";

.title-divider {
  margin-bottom: 1em;
}

.form-container {
  width: 100%;
  margin: 2em 0 2em 0;
  padding: 2em;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px;
  border-radius: 0.5em;
}

// .form-group {
//   width: 100%;

//   @media screen and (min-width: $breakpoint-desktop) {
//     width: 100%;
//   }
// }


mat-form-field {
  width: 100%;
}

/* Remove the margin / padding / bullets from the file list */
ul.file-list {
  padding: 0;
  margin: 0;
}

ul.file-list li {
  margin:0;
  list-style:none;
}

/*
If you're applying styles to your containerDivClass from a component stylesheet, rather than
from a global stylesheet, then apply the ::ng-deep combinator in order to apply
your styles within the modal-window component.  The shadow-piercing operators
were recently removed without replacement in the evolving W3C spec.  This is an
evolving topic and ng-deep is Angular's answer to this for the time being, although
it's marked as deprecated and thus should be considered a temporary solution.
I would suggest using this with caution in case the Angular team removes ng-deep
before a clear replacement comes around.  See:
https://stackoverflow.com/questions/47024236/what-to-use-in-place-of-ng-deep
https://hackernoon.com/the-new-angular-ng-deep-and-the-shadow-piercing-combinators-deep-and-drop-4b088dbe459
https://angular.io/guide/component-styles#deprecated-deep--and-ng-deep
*/
::ng-deep .file-input-demo {
  max-width: 375px;
  width:80%;
  margin:auto;
}
