@import '../../../../../styles/scss/variables.scss';
.title-divider {
  margin-bottom: 1em;
}

.form-group {
  width: 100%;

  @media screen and (min-width: $breakpoint-desktop) {
    width: 50%;
  }

  // @media screen and (min-width: $breakpoint-desktop) {
  //   width: 50%;
  // }
}

.ng-invalid.ng-touched {
  border-color: red;
}

mat-form-field {
  width: 100%;
}
