@import "variables";

.location-btn-container,
.details-btn-container,
.photos-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepper-btn-nxt {
  width: 50%;
}

.step-container {
  height: $app-wizard-height;
}
