@import "variables";
@import "mixins";

.app-page-title {
  margin-top: $app-title-margin-top;
  margin-bottom: $app-title-margin-bottom;

  padding-left: 1rem;
  padding-right: 1rem;

  @include media-breakpoint-up(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}
