@mixin new-incident-wizard-stepper-component-theme($selected-theme) {
  .mat-horizontal-stepper-header-container,
  .mat-horizontal-content-container,
  .wizard-btn-container {
    background-color: mat-theme-background-color($selected-theme, background);
  }

  .progressed.mat-horizontal-stepper-header::before,
  .progressed.mat-horizontal-stepper-header::after,
  .progressed.mat-stepper-horizontal-line {
    border-top-color: mat-color(
      mat-theme-primary-color($selected-theme),
      default
    ) !important;
  }

  .new-incident-wizard-stepper-card .new-incident-wizard-stepper-card-header {
    background-color: mat-color(mat-theme-primary-color($selected-theme), 700);
    @if mat-theme-is-dark($selected-theme) {
      color: white;
    } @else {
      color: mat-theme-background-color($selected-theme, background);
    }
  }

  .new-incident-wizard-stepper-card {
    @include mat-elevation(4);
  }
}
