<div [class]="theme">
  <div class="mat-app-background">
    <app-header (hamburgerToggle)="sidenav.toggle()"></app-header>


    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav fixedInViewport="true" [mode]="isScreenSmall()? 'over' : 'side'"
        [opened]="(!isScreenSmall() && sidenavOpen)" mat-elevation-z10 #sidenav>

        <div *ngFor="let navItem of navItems">
          <div *ngIf="navItem.children; else noChildren">
            <mat-expansion-panel>
              <mat-expansion-panel-header [collapsedHeight]="sidenavHeight" [expandedHeight]="sidenavHeight">
                <mat-panel-title>
                  <!-- <mat-icon> person </mat-icon> -->
                  {{navItem.title}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                <a *ngFor="let childNavItem of navItem.children" mat-list-item class="nav-item"
                  [routerLink]="[childNavItem.link]">{{childNavItem.title}}</a>
              </mat-nav-list>
            </mat-expansion-panel>
          </div>
          <ng-template #noChildren>
            <app-sidenav-menu-item [navItem]="navItem">
            </app-sidenav-menu-item>

          </ng-template>



        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div id="content" class="container sidenav-content">
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>
</div>
