@import "mixins";
@import "variables";

.sidenav-content {
  display: flex;
  justify-content: center;
  max-width: unset !important;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0 !important;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  @include media-breakpoint-up(sm) {
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.mat-app-background {
  height: 100%;
  padding-top: $app-header-height-sm;
  @include media-breakpoint-up(sm) {
    padding-top: $app-header-height;
  }
}

app-header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: $app-header-z-index;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

#content {
  margin-top: $app-content-margin-top;
  min-height: $app-content-min-height-sm;
  @include media-breakpoint-up(sm) {
    // padding-bottom: $app-content-padding-bottom;
    min-height: $app-content-min-height-md;
  }
  @include media-breakpoint-up(sm) {
    min-height: $app-content-min-height-lg;
  }
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  top: $app-header-height-sm !important;
  @include media-breakpoint-up(sm) {
    top: $app-header-height !important;
  }
  left: 0;
  min-width: $app-sidenav-min-width;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  // z-index: $app-sidenav-z-index;
  .sidenav-overlay {
    position: fixed;
    min-width: $app-sidenav-min-width;
  }
}

mat-expansion-panel {
  box-shadow: 0px 0 0px rgba(0, 0, 0, 0) !important;
}

.nav-item {
  font-size: 14px !important;
}
