

// .file-upload-content {
//   width: 100%;
//   height: 100%;
// }

// .add-photo-icon {
//   font-size: 4rem;
// }
.file-upload-container {
  border-radius: 6px;
  height: 10rem;
  border: 1px solid black;


  ::ng-deep .file-input-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
}

/* Remove the margin / padding / bullets from the file list */
ul.file-list {
  padding: 0;
  margin: 0;
}

ul.file-list li {
  margin: 0;
  list-style: none;
}
