<div class="file-drop-container">

  <div class="row">
    <div class="col-12">
      <app-simple-file-drop (selectionChanged)="onSelectionChanged($event)" containerDivClass="file-drop-area"
        allowedExtensions="jpg" [maxFileSize]="4194304" (dragging)="onDragging($event)">
        <ng-container *ngIf="dragging; then draggingText else notDraggingText">
        </ng-container>
        <ng-template #draggingText>
          <div class="file-drop-area-content">
            <mat-icon class="add-photo-icon">add_a_photo</mat-icon>
            <div>Drop {{supportedFileTypesCategoty}} Here</div>
          </div>

        </ng-template>
        <ng-template #notDraggingText>
          <div class="file-drop-area-content">
            <mat-icon class="add-photo-icon">add_a_photo</mat-icon>
            <div> Click or Drag {{supportedFileTypesCategoty}} Here</div>
          </div>
        </ng-template>
      </app-simple-file-drop>
    </div>
  </div>

  <div class="display-files-container">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip *ngFor="let file of selectedFiles; let fileIndex = index" [selectable]="selectable"
        [removable]="removable" (removed)="removeFile(fileIndex)" (click)="selectedFileOnClick(file)">
        {{file['name']}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>

  </div>

</div>

<app-simple-modal #myModal>

  <app-modal-header>
    {{displayedPhoto?.name}}
  </app-modal-header>

  <app-modal-content>
    <div class="photo-container">
      <img [src]="displayedPhotoUrl" max-heigh="400" *ngIf="displayedPhotoUrl">
    </div>
  </app-modal-content>


</app-simple-modal>
