@import "mixins/main";
@import "variables/main";

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  top: $app-header-height-sm !important;
  @include media-breakpoint-up(sm) {
    top: $app-header-height !important;
  }
  left: 0;
  min-width: $app-sidenav-min-width;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  // z-index: $app-sidenav-z-index;
  .sidenav-overlay {
    position: fixed;
    min-width: $app-sidenav-min-width;
  }
}

mat-expansion-panel {
  box-shadow: 0px 0 0px rgba(0, 0, 0, 0) !important;
}

.nav-item {
  font-size: 0.875rem !important;
}
