<div class="container">
  <div class="row">
    <div class="col-12">
      <div style="display: flex; justify-content: center;">
        <div style="width: 600px;">
          <div class="section">
            <h4>Account Settings</h4>
            <mat-divider></mat-divider>
            <a href="">Set Password</a>
            <a href="">Change Language</a>
          </div>
          <div class="section">
            <h4>Notifications</h4>
            <mat-divider></mat-divider>
            <a href="">Change Notification Email Frequency</a>
            <a href=""> Allow Desktop Notifications</a>
          </div>
          <div class="section">
            <h4>Suggestions</h4>
            <mat-divider></mat-divider>
            <a href="">Disable Suggestions</a>
          </div>
          <div class="section">
            <h4>Marketing Emails</h4>
            <mat-divider></mat-divider>
            <a href="">Opt out of Marketing Emails</a>
          </div>
          <div class="section">
            <h4>Theme</h4>
            <mat-divider></mat-divider>
            <a href="">Enable dark mode theme</a>
          </div>
        </div>
      </div>
    </div>
  </div>
