@import "mat-theme-colors";

@mixin my-styles-reset-theme($selected-theme) {
  a {
    color: mat-theme-foreground-color($selected-theme,text);

    &:hover {
      color: mat-color(mat-theme-accent-color($selected-theme));
    }
  }

  code {
    color: mat-color(mat-theme-accent-color($selected-theme), lighter-contrast);
    background-color: mat-color(
      mat-theme-accent-color($selected-theme),
      lighter
    );
  }
}
