@import "variables/main";
@import "mixins/flex";
@import "mixins/media";

.incident-item {
  @include flexbox();
  @include justify-content(center);
  width: 100%;
  height: 100%;
  margin: 2rem 0 0 0;

  &:hover {
    cursor: pointer;
  }
}

.incident-item-grid-container {
  display: grid;

  grid-template-areas:
    "title title"
    "image details"
    "footer footer";

  grid-template-columns: 100px auto;
  grid-template-rows: 1fr 2fr fit-content();
  @include media-breakpoint-up(md) {
    grid-template-areas:
      "image title"
      "image details"
      "footer footer";
    grid-template-columns: 150px 5fr;
    grid-template-rows: 2rem 2fr 0.5fr;
  }

  width: 100%;

  mat-icon {
    line-height: $body-line-height;
    vertical-align: middle;
    font-size: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
  }

  .title-area {
    grid-area: title;
    width: 100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    padding: 0.5rem;
    .incident-item-title {
      @include flexbox();
      @include align-items(flex-start);
    }
    .incident-item-id {
      font-size: 0.875rem;
      @include flexbox();
      @include align-items(flex-start);
      justify-self: flex-end;
    }
  }

  .incident-item-image-area {
    grid-area: image;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    max-width: 100px;
    width: 100px;
    @include media-breakpoint-up(sm) {
      max-width: 150px;
      min-width: 150px;
    }

    img {
      width: auto;
      max-width: 100px;
      max-height: 90px;
      height: 90px;
      @include media-breakpoint-up(sm) {
        max-width: 150px;
        max-height: 100px;
        height: 100px;
      }
    }

    fa-icon.ng-fa-icon {
      width: 100%;
      @include flexbox();
      @include justify-content(center);
      @include align-self(center);
    }
  }
  .incident-item-details-area {
    grid-area: details;
    padding: 0 0.5rem;

    .incident-item-description {
      display: none;
      @include media-breakpoint-up(sm) {
        display: block;
      }
    }
  }
}

.incident-footer {
  grid-area: footer;
  padding: 0.5rem;

  display: grid;
  grid-template-areas: "icons icons status";
  grid-template-columns: 4fr 1fr 1fr;
  @include media-breakpoint-up(md) {
    grid-template-columns: 2fr 4fr 1fr;
  }
  .status {
    grid-area: status;
    @include flexbox();
    @include align-items(flex-end);
    @include justify-content(flex-end);
    @include media-breakpoint-up(md) {
      @include align-items(center);
    }
  }

  .created-votes-and-comments {
    grid-area: icons;
    font-size: 0.875rem;
    .created {
      margin-right: 1rem;
    }
    .votes {
      margin-right: 1rem;
    }
  }

  .status.submitted {
    color: orange;
  }

  .status.confirmed {
    color: blue;
  }

  .status.resolved {
    color: rgba($color: rgb(54, 168, 54), $alpha: 1);
  }
}
