@import "variables/main";
@import "mixins/main";

.nav-item-no-children {
  height: 2.5rem;
  min-width: $app-sidenav-min-width;
  button {
    padding: 0 1.5rem;
    @include flexbox();
    font-size: calc(#{$body-font-size} - 1px);
    min-width: $app-sidenav-min-width;
  }
}
