@import "variables/base";
@import "variables/sidenav";
@import "mixins/flex";

.nav-item-no-children {
  height: 4rem;
  min-width: $app-sidenav-min-width;
  button {
    padding: 0 2.4rem;
    @include flexbox();
    font-size: 1.5rem;
    min-width: $app-sidenav-min-width;
  }
}
