@import "variables/base";

::ng-deep .mat-menu-content {
  min-width: 220px;
}

.mat-menu-item {
  padding-left: 2.4rem;
  font-size: 1.6rem;
  line-height: $base-line-height;
  height: 4rem;
  font-weight: 400;
}

.menu-title {
  cursor: text;

  &:hover {
    background: inherit;
  }
}
