@import "variables";

.camera-container,
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

app-modal-header,
app-modal-footer {
  width: 100%;
}

.camera-btn {
  width: 100%;
  margin-bottom: 0.5rem;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: unset;
  }
}
