@import "mixins/flex";
@import "mixins/media";

.take-picture {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  height: 11.2rem;
  width: 11.2rem;
  border-radius: 50%;
}

mat-icon {
  font-size: 48rem;
  width: 48rem;
  height: auto;
}

.camera-container,
.header-container {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
}

.camera-btn {
  margin-bottom: 0.8rem;
  @include media-breakpoint-up(sm) {
    margin-bottom: unset;
  }
}
