@import "mixins";

.take-picture {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

mat-icon {
  font-size: 3rem;
  width: 3rem;
  height: auto;
}

.camera-container,
.header-container {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
}

app-modal-header,
app-modal-footer {
  width: 100%;
}

.camera-btn {
  width: 100%;
  margin-bottom: 0.5rem;
  @include media-breakpoint-up(sm) {
    margin-bottom: unset;
  }
}
