@import "mixins";
@import "variables";

.incident-details-container {
  margin: 2rem 0;
  display: grid;
  grid-template-areas: "incident-card-area incident-location-map-area";
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 100%;
  column-gap: 2rem;
  height: 100vh;
}

.incident-details-card {
  grid-area: incident-card-area;

  .incident-details-card-header {
    padding: 2.5rem 1rem;
  }

  .incident-details-card-content {
    .title {
      margin-bottom: 0.5rem;
    }

    padding: 1rem;
    display: grid;
    grid-template-areas: "details-area description-area";
    grid-template-columns: 3fr 5fr;
    column-gap: 2rem;

    .incident-details-card-details-area {
      grid-area: details-area;
      .label {
        font-weight: 500;
      }
    }

    .incident-details-card-description-area {
      grid-area: description-area;
    }
  }
}

.incident-location-map-container {
  padding: 1rem;
  grid-area: incident-location-map-area;
  height: 50%;

  .incident-location-map {
    margin-top: 0.5rem;
    min-height: 200px;
    height: calc(100% - 2rem);
    app-incident-map {
      border-radius: 6px;
    }
  }
}
