@import "mixins";
@import "variables";

.incident-details-container {
  padding: 2rem 0;
  display: grid;
  grid-template-areas: "incident-card-area incident-location-map-area";
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 100%;
  column-gap: 2rem;
}

.incident-details-card {
  grid-area: incident-card-area;
  .incident-details-card-header {
    padding: 1.5rem 1rem;
  }

  .incident-details-card-content {
    padding: 1rem;

    .incident-progress {
      display: block;
      font-size: 0.75rem;
    }

    .carousel {
      width: 100%;
    }

    .margin-top {
      margin-top: 1rem;
    }
  }

  .title {
    margin-bottom: 0.5rem;
    border-bottom: 2px dotted #e3e3e3;
    &.no-margin-bottom {
      margin-bottom: 0;
    }
  }

  .timeline-container {
    app-timeline {
      font-size: 0.875rem;
    }
  }
}

.incident-location-map-container {
  padding: 1rem;
  grid-area: incident-location-map-area;

  .incident-location-map {
    margin-top: 0.5rem;
    min-height: 200px;
    height: calc(100% - 2rem);
    app-incident-map {
      border-radius: 6px;
    }
  }
}
