<div class="wizard-step-container summary-container">

  <mat-card *ngIf="incident" class="incident-summary">
    <mat-card-header class="incident-card-header">
      <mat-card-title>{{'incidentCategory.'+ incident.category | translate}} </mat-card-title>
      <mat-card-subtitle>{{'incidentCategory.'+ incident.subcategory | translate}} </mat-card-subtitle>
      <mat-card-subtitle>{{incident.locationDetails?.address}}</mat-card-subtitle>
    </mat-card-header>
    <div class="incident-image-wrapper">
      <img [src]="imageUrls[0]" alt="First Problem Photo">
    </div>
    <mat-card-content class="incident-card-content">
      <p>
        {{incident.description}}
      </p>
    </mat-card-content>
  </mat-card>

</div>
