@import "mixins/media";
@import "mixins/flex";
@import "variables/main";

.incident-location-map-container {
  width: 100%;
  height: 25vh;
  app-incident-map {
    border-radius: 6px;
  }
}

.flex {
  @include flexbox();
  @include flex-flow(column-reverse);
  @include media-breakpoint-up(md) {
    @include flex-flow(row);
  }
  @include justify-content(space-evenly);
  app-card {
    width: 100%;
  }
}
