@import "mixins";
@import "variables";

.mat-app-background {
  height: 100%;
  padding-top: $app-header-height-sm;
  @include media-breakpoint-up(sm) {
    padding-top: $app-header-height;
  }
}

app-header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: $app-header-z-index;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
