.language {
  margin-left: 1.6rem;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }
}

.language-selection-container {
  font-size: 1.4rem;
}
