<div class="incident-item">

  <div class="grid-container">

    <div class="incident-image-wrapper">
      <img *ngIf="incident.imageUrls.length>0; else noImage" [src]="incident.imageUrls[0]" alt="Photo incident">
      <ng-template #noImage>
        <fa-icon *ngIf="images$ | async as images" [icon]="images" size="6x"></fa-icon>
      </ng-template>
    </div>

    <div class="title">
      <h4>{{ incident.category }}</h4>
    </div>

    <div class="id">
      #{{ incident.id }}
    </div>

    <div class="status" [ngClass]="incident.status">
      {{ incident.status }}
    </div>

    <div class="description">
      {{ incident.description}}
    </div>


  </div>
