@mixin my-incident-container-component-theme($selected-theme) {
  .incident-details {
    background-color: mat-theme-background-color($selected-theme, app-bar);
    border-bottom: 1px solid
      mat-theme-foreground-color($selected-theme, divider);
  }

  .incident-item-grid-container {
    @include mat-elevation(4);
    border: 1px solid mat-theme-foreground-color($selected-theme, divider);
  }

  .incident-footer {
    background-color: mat-theme-background-color($selected-theme, app-bar);
  }
  .incident-image-wrapper {
    border-bottom: 1px solid
      mat-theme-foreground-color($selected-theme, divider);
  }

  // .incident-item {
  //   @if mat-theme-is-dark($selected-theme) {
  //     background-color: mat-color(
  //       mat-theme-primary-color($selected-theme),
  //       default
  //     );
  //   } @else {
  //     background-color: snow;
  //   }
  //   &:hover {
  //     @if mat-theme-is-dark($selected-theme) {
  //       color: mat-theme-background-color($selected-theme, background);
  //       background-color: rgba(
  //         mat-color(mat-theme-accent-color($selected-theme), default),
  //         0.9
  //       );
  //     } @else {
  //       background-color: rgba(
  //         mat-color(mat-theme-accent-color($selected-theme), default),
  //         0.3
  //       );
  //     }
  //   }
  //   &:active {
  //     @if mat-theme-is-dark($selected-theme) {
  //       background-color: rgba(
  //         mat-color(mat-theme-accent-color($selected-theme), default),
  //         0.3
  //       );
  //     } @else {
  //       background-color: rgba(
  //         mat-color(mat-theme-accent-color($selected-theme), default),
  //         0.9
  //       );
  //     }
  //   }
  // }
}
