<div class="incident-item"  (mouseenter)="onMouseEnter()"  (mouseleave)="onMouseLeave()">

  <div class="incident-item-grid-container">

    <div class="incident-image-wrapper">
      <img *ngIf="incident.imageUrls.length>0; else noImage" [src]="incident.imageUrls[0]" alt="Photo incident">
      <ng-template #noImage>
        <fa-icon *ngIf="images$ | async as images" [icon]="images" size="6x"></fa-icon>
      </ng-template>
    </div>

    <div class="description">
      <mat-icon> event_note </mat-icon> {{ incident.description}}
    </div>

    <div class="incident-details">

      <div class="header-area">
        <div class="category">
          <h5>{{ incident.category }}</h5>
        </div>
        <div class="id">
          #{{ incident.id }}
        </div>

      </div>

      <div class="subcategory">
        <mat-icon> note </mat-icon> {{ incident.subcategory }}
      </div>
      <div class="address">
        <mat-icon> room </mat-icon> {{ incident?.locationDetails?.address }}
      </div>

      <div class="description">
        <mat-icon> event_note </mat-icon> {{ incident.description}}
      </div>

    </div>

    <div class="incident-footer">

      <div class="status" [ngClass]="incident.status">
        {{ incident.status }}
      </div>

      <div class="created">
        Created on: {{ incident.created | date:'dd/MM/yyyy HH:mm' }}
      </div>
    </div>

  </div>
