@mixin my-incident-container-component-theme($selected-theme) {
  .incident-item {
    border-color: mat-color(mat-theme-primary-color($selected-theme), 900);
    @if mat-theme-is-dark($selected-theme) {
      background-color: rgba(
        mat-theme-background-color($selected-theme, background),
        0.9
      );
    } @else {
      background-color: white;
    }

    .incident-info {
      @if mat-theme-is-dark($selected-theme) {
        background-color: rgba(
          mat-theme-background-color($selected-theme, background),
          0.9
        );
        border: 1px solid grey;
      } @else {
        background-color: white;
        border: 3px
          solid
          rgba(mat-theme-background-color($selected-theme, background), 0.9);
      }
    }
    // .active {
    //   color: mat-color($accent-color, default-contrast);
    //   background-color: mat-color($accent);

    //   &:hover {
    //     color: mat-color($accent-color, default-contrast);
    //     background-color: mat-color($accent-color);
    //   }
    // }
  }
}
