.incident-item {
  display: flex;
  justify-content: center;

  margin: 1rem 0;
  width: 100%;
  height: 100%;
}
.incident-item-grid-container {
  display: grid;

  grid-template-areas:
    "image details"
    "footer footer";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr 0.5fr;
  width: 100%;

  mat-icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    font-size: 18px;
  }
}

.incident-image-wrapper {
  grid-area: image;
  display: flex;
  align-items: center;
  width: 100%;

  // background-color: green;
  img {
    width: 100%;
  }

  fa-icon.ng-fa-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
}

.incident-details {
  grid-area: details;
  padding: 0.5rem;
  display: grid;
  grid-template-areas:
    "header header"
    "left right";
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.5fr 2fr;

  .header-area {
    grid-area: header;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .category {
      display: flex;
      align-items: flex-start;
      margin-bottom: 0.5rem;
    }
    .id {
      font-size: 14px;
      color: grey;
      display: flex;
      align-items: flex-start;
      justify-self: flex-end;
    }
  }

  .left-area {
    grid-area: left;

    .subcategory {
      display: flex;
      align-items: flex-start;
    }
    .address {
      display: flex;
      align-items: flex-start;
    }
  }

  .right-area {
    grid-area: right;
    .description {
      display: flex;
      align-items: flex-start;
    }
  }
}

.incident-footer {
  grid-area: footer;
  padding: 0.5rem;

  // background-color: blue;
  display: grid;
  grid-template-areas: "created other status";
  grid-template-columns: 2fr 4fr 1fr;

  .status {
    grid-area: status;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .created {
    grid-area: created;
    font-size: 14px;
  }

  .status.submitted {
    color: orange;
  }

  .status.confirmed {
    color: blue;
  }

  .status.resolved {
    color: rgba($color: rgb(54, 168, 54), $alpha: 1);
  }
}
